* {
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  color: #333;
}
a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}
h1,
h2 {
  margin-bottom: 1rem;
  padding: 2rem;
  text-align: center;
}
h3 {
  margin: 0 0 1rem;
  font-size: 1.2rem;
  color: #333;
}
h4 {
  flex: 2;
  font-size: 1rem;
  margin: 0;
  color: #333;
}
p {
  flex: 1;
  font-weight: 500;
  color: #666;
  margin: 0;
}
